/* Set navigation display and scrolling behaviour */
.navigation-tabs {
  /* width: 100vw; */
  background-color: white;
  /* z-index: 3; */
  position: sticky;
  /* justify-content: flex-end; */
}

#navigation__name-details {
  position: absolute;
  left: 0;
  font-size: 1.3rem;
  color: #048679;
}

.about__content {
  margin: 1em auto;
  min-height: 85vh;
}

.about__card {
  align-items: center;
}

.about__me {
  font-weight: 100;
  line-height: normal;
  color: slategrey;
  margin-top: 20vh;
}

.about__desc {
  font-weight: 300;
  color: slategrey;
  margin-top: 2vh;
}

.about__image {
  padding-top: 200px;

  width: auto;
  height: auto;
}

#about__text {
  text-align: center;
  max-width: 500px;
}

.icon-github {
  max-width: 1.2em;
}

/* if used on a small device, set padding and margin to fit onto page */
@media all and (max-width: 414px) and (orientation: portrait) {
  .about__image {
    padding-top: 0px;
  }
  .about__me {
    margin-top: 0;
  }
}
