/* changge the link color to white - may need to revisit for other links */
p {
  line-height: 1.2em;
}

/* Set navigation display and scrolling behaviour */
.navigation-tabs {
  /* width: 100vw; */
  background-color: white;
  /* z-index: 3; */
  position: sticky;
  /* justify-content: flex-end; */
}

#navigation__name-details {
  position: absolute;
  left: 0;
  font-size: 1.3rem;
  color: #048679;
}

.panels-container {
  margin: 1em auto;
  min-height: 85vh;
}

.about__card {
  align-items: center;
}

.about__me {
  font-weight: 100;
  line-height: normal;
  color: slategrey;
  margin-top: 20vh;
  padding-top: 2em;
}

.about__desc {
  font-weight: 300;
  color: slategrey;
  margin-top: 2vh;
}
p .about__desc {
  font-size: 14px;
}
.about__image {
  padding-top: 200px;
  width: auto;
  height: auto;
}

.about__social-media {
  max-width: 2em;
  padding-left: 1.5em;
  padding-bottom: 2em;
}

#about__text {
  text-align: center;
  max-width: 500px;
}

img.portfolio__article-image {
  width: 100%;
  height: auto;
  background: white;
  /* object-fit: contain; */
}

.site-max-width {
  max-width: 900px;
  margin: auto;
}

/* Pushes TRY IT/REPO to bottom of the card */
.mdl-card__supporting-text {
  height: 100%;
}

.port__language-icons {
  max-width: 1.5em;
  padding-left: 0.5em;
  height: 30px;
  object-fit: contain;
}

/* if used on a small device, set padding and margin to fit onto page */
@media all and (max-width: 414px) and (orientation: portrait) {
  .about__image {
    padding-top: 0px;
  }
  .about__me {
    margin-top: 0;
  }
}

/* Titles in portfolio page */
#titles {
  margin-inline-start: 25px;
  margin-top: 20px;
}

.mdl-tooltip {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#task-api {
  background-color: #048679;
}

#pts-border {
  border-color: darkcyan;
  border-bottom-width: 1px;
}

#feedback-border {
  border-color: rgb(211, 160, 22);
  border-bottom-width: 1px;
}
